/* ==========================================================================
   Blog List shortcode responsive style - begin
   ========================================================================== */

@include laptop-landscape-large {
    
    .eltd-blog-list-holder {
        
        &.eltd-bl-masonry {
            
            $masonry_columns_number: ('five');
            
            @for $i from 0 to length($masonry_columns_number) {
                &.eltd-bl-#{nth($masonry_columns_number,$i+1)}-columns {
                    $column_width: 100%/4;
    
                    .eltd-bl-item,
                    .eltd-bl-grid-sizer {
                        width: $column_width;
                    }
                }
            }
        }
    }
}

@include laptop-landscape {
    
    .eltd-blog-list-holder {
        
        &.eltd-bl-standard,
        &.eltd-bl-boxed {
    
            $columns_number: ('four', 'five');
            
            @for $i from 0 to length($columns_number) {
                &.eltd-bl-#{nth($columns_number,$i+1)}-columns {
                    $column_width: 100% / 3;
    
                    .eltd-bl-item {
                        width: $column_width;
                    }
                    
                    @media only screen and (min-width: $ipad-landscape-plus-pixel) {
                        
                        .eltd-bl-item {
                            
                            &:nth-child(3n+1) {
                                clear: both;
                            }
                        }
                    }
                }
            }
        }
        
        &.eltd-bl-masonry {
            
            $masonry_columns_number: ('four', 'five');
            
            @for $i from 0 to length($masonry_columns_number) {
                &.eltd-bl-#{nth($masonry_columns_number,$i+1)}-columns {
                    $column_width: 100% / 3;
                    
                    .eltd-bl-item,
                    .eltd-bl-grid-sizer {
                        width: $column_width;
                    }
                }
            }
        }
    }
}

@include ipad-landscape {
    
    .eltd-blog-list-holder {
        
        &.eltd-bl-standard{
            
            $columns_number: ('four', 'five');
            
            @for $i from 0 to length($columns_number) {
                &.eltd-bl-#{nth($columns_number,$i+1)}-columns {
                    
                    .eltd-bl-item {
                        width: 50%;
                    }
                    
                    @media only screen and (min-width: $phone-landscape-plus-pixel) {
                        
                        .eltd-bl-item {
                            
                            &:nth-child(2n+1) {
                                clear: both;
                            }
                        }
                    }
                }
            }
        }
        
        &.eltd-bl-masonry {
            
            $masonry_columns_number: ('three', 'four', 'five');
            
            @for $i from 0 to length($masonry_columns_number) {
                &.eltd-bl-#{nth($masonry_columns_number,$i+1)}-columns {
                    
                    .eltd-bl-item,
                    .eltd-bl-grid-sizer {
                        width: 50%;
                    }
                }
            }
        }
    }
}

@include ipad-landscape {

    .eltd-blog-list-holder {

        &.eltd-bl-standard {

            .eltd-bl-item{
                width: 100% !important; // !important is set to override all other stronger selectors
            }
        }
    }
}

@include phone-landscape {
    
    .eltd-blog-list-holder {
        
        &.eltd-bl-masonry {
            
            $masonry_columns_number: ('two', 'three', 'four', 'five');
            
            @for $i from 0 to length($masonry_columns_number) {
                &.eltd-bl-#{nth($masonry_columns_number,$i+1)}-columns {
                    
                    .eltd-bl-item,
                    .eltd-bl-grid-sizer {
                        width: 100%;
                    }
                }
            }
        }
    }
}
/* ==========================================================================
   Blog List shortcode responsive style - end
   ========================================================================== */