/* ==========================================================================
   Blog List shortcode Standard - begin
   ========================================================================== */

.eltd-blog-list-holder {
    &.eltd-bl-standard {
        .eltd-post-image {
            overflow: hidden;

            img {
                -webkit-transition: -webkit-transform .4s cubic-bezier(.15,.7,.54,.99);
                transition: transform .4s cubic-bezier(.15,.7,.54,.99);
                will-change: transform;
                -webkit-filter: blur();
                filter: blur();
            }

            &:hover {
                img {
                    @include eltdTransform(scale(1.06));
                }
            }
        }

        &:not(.eltd-bl-one-column) {

            .eltd-bl-item {
                float: left;
            }
        }

        $columns_number: ('one','two', 'three', 'four', 'five');

        @for $i from 0 to length($columns_number) {
            &.eltd-bl-#{nth($columns_number,$i+1)}-columns {

                .eltd-bl-item {
                    width: 100% / ($i+1);
                }

                @if ($i > 1) { // set different break point for four and five columns
                    @media only screen and (min-width: $laptop-landscape-plus-pixel) {

                        .eltd-bl-item {

                            &:nth-child(#{$i+2}n+1) {
                                clear: both;
                            }
                        }
                    }
                } @else {
                    @media only screen and (min-width: $ipad-landscape-plus-pixel) {

                        .eltd-bl-item {

                            &:nth-child(#{$i+2}n+1) {
                                clear: both;
                            }
                        }
                    }
                }
            }
        }

        .eltd-post-info-category{
            position: absolute;
            top: 20px;
            left: 20px;
            background-color: $first-main-color;
            padding: 2px 20px;
            border-radius: 20px;

            &, a{
                color: $default-background-color;
                font-size: 14px;
                font-weight: 400;
            }
            .icon-basic-bookmark{
                vertical-align: bottom;
                font-size: 15px;
            }
        }

        .eltd-bli-content{
            background-color: $light-color;
            border: 1px solid $light-grey-color;
            padding: 0px 30px 21px;
        }

        .eltd-blog-like{

            i{
                padding-right: 5px;
            }

            *{
                color: $first-main-color;
            }
        }

        .eltd-post-title {
            margin: 2px 0;
            line-height: 33px;
        }

        .eltd-bli-info {
            @include eltdRelativeHolderLayout();
            margin: 0;
            clear: both;

            > div {
                position: relative;
                display: inline-block;
                vertical-align: top;
                float: left;
                padding: 0 13px 5px 0;

                &:after {
                    position: absolute;
                    top: 0;
                    right: 4px;
                    content: '/';
                }

                &:last-child {

                    &:after {
                        display: none;
                    }
                }
            }
        }
        
        .eltd-bli-content {

            div{
                box-sizing: border-box;

                .eltd-post-excerpt{
                    font-size: 14px;
                }
            }
        }
        
        .eltd-blog-list-button{
            margin: 9px 0 21px;
            font-size: 13px;
            font-weight: 500;
            width: auto;
            text-transform: capitalize;
            color: $first-main-color;

            &:after{
                content: "\35";
                font-family: ElegantIcons;
                font-size: 16px;
                color: $first-main-color;
                vertical-align: middle;
            }
        }
        
        .eltd-post-info-bottom {
            box-sizing: border-box;
            padding: 10px 0 8px;

            & div{
                display: inline-block;
            }

            & a {
                color: $gray-color;
                font-size: 14px;

                &:hover{
                    color: $first-main-color;
                }
            }
            
            .eltd-post-info-bottom-left{
                float: left;
                font-weight: 300;
                
                .eltd-post-info-comments-holder{
                    margin-left: 7px;
                    
                    i{
                        position: relative;
                        top: 1px;
                    }
                }

                i{
                    color: $first-main-color;
                    padding-right: 3px;
                }
            }
            .eltd-post-info-bottom-right{
                float: right;
            }
        }
    }
}

/* ==========================================================================
   Blog List shortcode Standard - end
   ========================================================================== */