/* ==========================================================================
   Textwidget style - begin
   ========================================================================== */

.eltd-top-bar{
    .widget{
        .textwidget{
            a{
                color: $default-background-color;

                &:hover{
                    color: rgba(255,255,255,.8);
                }
            }
            p{
                margin: 0;
            }
        }
    }
}

/* ==========================================================================
   Textwidget style - end
   ========================================================================== */