/* ==========================================================================
   WooCommerce Category Rating styles - begin
   ========================================================================== */

.woocommerce {
    .in_category{
        display: block;
        margin-bottom: 5px;
        
        a{
            color: $blue-color;

            &:hover{
                color: $first-main-color;
            }
        }
    }
}
/* ==========================================================================
   WooCommerce Category Rating styles - end
   ========================================================================== */