/* ==========================================================================
   Blog List - Narrow responsive style - begin
   ========================================================================== */

.eltd-blog-holder {
    
    &.eltd-blog-narrow {

        article,
        .eltd-pagination {
	        
            @include ipad-landscape {
                width: 80%;
            }
	        
            @include ipad-portrait {
                width: 90%;
            }
	        
            @include phone-landscape {
                width: 100%;
            }
        }

        article {
            
            @include phone-landscape {
                .eltd-post-excerpt {
                    padding:0 20px;
                }
            }
        }
    }
}
/* ==========================================================================
   Blog List - Narrow responsive style - end
   ========================================================================== */